@import '../variables.scss';
/*general font styling for fonts*/
h2{
    font-family: $headerfontfamily;
}
h1{
    font-family: $headerfontfamily;
    text-align: center;
    font-weight: bolder;
    font-size: $hsize;
}
#gridhead{
    color:$altcontentbgcolor;
}
p{
    font-family: $pfontfamily;
    font-size: $psize;
}