section {
    padding: 20px;
    }
    
    img {
    max-width: 100%;
    }
    
    .myjourney{
        padding: 40px;
    }
    #currentjourney{
        padding: 40px;
        background-color: $gridbgcolor;
    }
    .conclusion{
        padding: 40px;
    }
    .img{
        background-color: $altcontentbgcolor;
        margin: 10px;
    }