section {
    border: 1px solid #ccc;
    padding: 20px;
    }
    
    img {
    max-width: 100%;
    }
    
    .myjourney{
        padding: 40px;
    }
    .conclusion{
        padding: 40px;
    }
    .img{
        background-color: $altcontentbgcolor;
        margin: 10px;
    }